<ion-header>
  <ion-toolbar class="verde">
    <ion-title>Pagina no encontrada</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img src="../../../assets/img/under"></ion-img>


    <ion-button (click)="nextpage()" class="ion-margin-top naranja" expand="block" >
      <ion-icon name="log-in" slot="start"></ion-icon>

      Volver a Login</ion-button>
 
</ion-content>
