<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/bienvenida"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content fullscreen={true}>
    <img class="img_logo" src="../assets/img/Logo_DuocUC.svg" alt="">
    <ion-list>
      <ion-list-header>
        <ion-label>
          INTEGRANTES DEL EQUIPO
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/img/03-elias.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>Elias Ramirez</h2>
          <h3>Estudiante de ingenieria en informatica</h3>
          <p>Me gusta trabajar con Base de Datos ...</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/img/02-matias.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>Matias Peralta </h2>
          <h3>Estudiante de ingenieria en informatica</h3>
          <p>Me Gusta programar...</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/img/01-jose.jng.jfif"/>
        </ion-avatar>
        <ion-label>
          <h2>José Fernández</h2>
          <h3>Estudiante de ingenieria en informatica </h3>
          <p>Me gusta el analisis de datos...</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
      </ion-list-header>
    </ion-list>
  </ion-content>
