<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/bienvenida"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content fullscreen={true}>
    <img class="img_logo" src="../../../assets/img/Duoc.jpeg" alt="">
    <ion-list>
      <ion-list-header>
        <ion-label>
          INTEGRANTES DEL EQUIPO
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/img/Elias.jpeg" />
        </ion-avatar>
        <ion-label>
          <h2>Elias Ramirez</h2>
          <h3>Ingeniero en informatica</h3>
          <p>Estudiante 3 año</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/img/Mati.jpeg" />
        </ion-avatar>
        <ion-label>
          <h2>Matias Peralta </h2>
          <h3>Ingeniero en informatica</h3>
          <p>Estudiante 3 año</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/img/Jose.jpeg"/>
        </ion-avatar>
        <ion-label>
          <h2>José Fernández</h2>
          <h3>Ingenierio en informatica </h3>
          <p>Alumno 3 año</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
      </ion-list-header>
    </ion-list>
  </ion-content>
