<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img-thumbnail>
    <img class="img_login" height="150 rem" width="150 rem" src="../../../assets/img/Logo_DuocUC.svg" alt="">
  </img-thumbnail>
  <br>
  <ion-item class="text_imput">
    <ion-label position="floating">Usuario</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <br>
  <ion-item class="password_imput">
    <ion-label position="floating">Pasword</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-button (click)="go()"  class="boton_inicio_session" id="click-trigger">Iniciar Sesion</ion-button>
  <ion-popover trigger="click-trigger" triggerAction="click">
    <ng-template>
      <ion-content class="ion-padding">Credenciales correctas</ion-content>
    </ng-template>
  </ion-popover>

</ion-content
>

