.avatar{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.no-avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #afbd34;

  display: flex;
  align-items: center;
  justify-content: center;
}